<ion-header>
  <ion-toolbar color="azul">
    <ion-title class="ion-text-center">
      Personagens
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">


  <ion-searchbar placeholder="Pesquisar" color="zulzin"></ion-searchbar>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i.pinimg.com/originals/15/4e/78/154e78c853d7fef1c5543e2ac89e9be6.png">
    </ion-thumbnail>
    <ion-label>Dipper Pines</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i.pinimg.com/474x/3c/a0/f4/3ca0f4041cbdaea6ebd158d641284021.jpg">
    </ion-thumbnail>
    <ion-label>Mabel Pines</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://pm1.narvii.com/6384/e3c5e9b5783b7107e3e3e596866b3b3b38fd10f8_00.jpg">
    </ion-thumbnail>
    <ion-label>Tio Avô Stan</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://uploads.spiritfanfiction.com/fanfics/historias/202003/imagine-wendy-corduroy--uma-historia-em-gravity-falls-18770429-190320201906.jpg">
    </ion-thumbnail>
    <ion-label>Wendy</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://pm1.narvii.com/6270/ac0eaa0a8f164ce74cb163e41e65d916c5361251_00.jpg">
    </ion-thumbnail>
    <ion-label>Soos</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://pm1.narvii.com/6441/eb6d1af01cd533a1cdbc8441c77c8efb43984188_00.jpg">
    </ion-thumbnail>
    <ion-label>Gideon</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://pm1.narvii.com/7030/cf1eb61008154e4b3970aa5744407519292730cer1-1280-718v2_hq.jpg">
    </ion-thumbnail>
    <ion-label>Grenda</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIo5U8qu-GysXBKX796hDeBTdd8DhuRJU1rA&usqp=CAU">
    </ion-thumbnail>
    <ion-label>Candy</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://pbs.twimg.com/media/EZxbv_WVcAA58im.jpg">
    </ion-thumbnail>
    <ion-label>Pacífica</ion-label>
  </ion-item>

  <br>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/1ef1f894-e54a-43be-9369-45df72edb761/d6b2no1-87cf2c0f-0c9d-4913-9ae6-9f153c8c0482.jpg/v1/fill/w_512,h_409,q_75,strp/old_man_mcgucket_gif_by_gravityfallsgifs_d6b2no1-fullview.jpg">
    </ion-thumbnail>
    <ion-label>McGucket</ion-label>
  </ion-item>
</ion-content>
