<ion-header>
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">
      Cabana do Mistério
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="verdinho">

    <img src="https://maisumevoudormir.files.wordpress.com/2016/08/tumblr_nu5c2k3llp1uf597xo1_500.gif?w=364" />

    <ion-card-header>
      <ion-card-title>Cabana do Mistério</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A Cabana do Mistério é onde Dipper e Mabel vão passar suas férias de verão sob a supervisão de Stan, seu tio avô. Há muitos mistérios que a envolvem (e muitas mercadorias falsas também).
    </ion-card-content>
  </ion-card>

  <br>

  <ion-item  color="verde" class="ion-text-center">
    <ion-label><h2>Funcionários</h2></ion-label>
  </ion-item>

  <br>

  <ion-card color="verdinho">
    <img src="https://upload.wikimedia.org/wikipedia/pt/b/bd/Personagens_de_Gravity_Falls.png" />

    <ion-card-content>
      Além de estar sob o comando de Stan, a cabana conta com outros funcionários (e de vez em quando Dipper e Mabel também acabam sendo metidos nisso também), sendo eles:
    </ion-card-content>

    <ion-card class="ion-text-center">
      <ion-chip>
        <ion-avatar>
          <img src="https://uploads.spiritfanfiction.com/fanfics/historias/202003/imagine-wendy-corduroy--uma-historia-em-gravity-falls-18770429-190320201906.jpg">
        </ion-avatar>

        <ion-label>Wendy</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-avatar>
          <img src="http://pm1.narvii.com/6270/ac0eaa0a8f164ce74cb163e41e65d916c5361251_00.jpg">
        </ion-avatar>

        <ion-label>Soos</ion-label>
      </ion-chip>

  </ion-card>
  </ion-card>

</ion-content>
