// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-verde: #1d9537;
  --ion-color-verde-rgb: 29,149,55;
  --ion-color-verde-contrast: #ffffff;
  --ion-color-verde-contrast-rgb: 255,255,255;
  --ion-color-verde-shade: #1a8330;
  --ion-color-verde-tint: #34a04b;

  --ion-color-vermelho: #c60101;
  --ion-color-vermelho-rgb: 198,1,1;
  --ion-color-vermelho-contrast: #ffffff;
  --ion-color-vermelho-contrast-rgb: 255,255,255;
  --ion-color-vermelho-shade: #ae0101;
  --ion-color-vermelho-tint: #cc1a1a;

  --ion-color-marelo: #fff12e;
  --ion-color-marelo-rgb: 255,241,46;
  --ion-color-marelo-contrast: #000000;
  --ion-color-marelo-contrast-rgb: 0,0,0;
  --ion-color-marelo-shade: #e0d428;
  --ion-color-marelo-tint: #fff243;

  --ion-color-verdinho: #61ff83;
  --ion-color-verdinho-rgb: 97,255,131;
  --ion-color-verdinho-contrast: #000000;
  --ion-color-verdinho-contrast-rgb: 0,0,0;
  --ion-color-verdinho-shade: #55e073;
  --ion-color-verdinho-tint: #71ff8f;

  --ion-color-azul: #3149bf;
  --ion-color-azul-rgb: 49,73,191;
  --ion-color-azul-contrast: #ffffff;
  --ion-color-azul-contrast-rgb: 255,255,255;
  --ion-color-azul-shade: #2b40a8;
  --ion-color-azul-tint: #465bc5;

  --ion-color-marelin: #fff56b;
  --ion-color-marelin-rgb: 255,245,107;
  --ion-color-marelin-contrast: #000000;
  --ion-color-marelin-contrast-rgb: 0,0,0;
  --ion-color-marelin-shade: #e0d85e;
  --ion-color-marelin-tint: #fff67a;

  --ion-color-zulzin: #8a92ff;
  --ion-color-zulzin-rgb: 138,146,255;
  --ion-color-zulzin-contrast: #000000;
  --ion-color-zulzin-contrast-rgb: 0,0,0;
  --ion-color-zulzin-shade: #7980e0;
  --ion-color-zulzin-tint: #969dff;

  --ion-color-sla: #ebebeb;
  --ion-color-sla-rgb: 235,235,235;
  --ion-color-sla-contrast: #000000;
  --ion-color-sla-contrast-rgb: 0,0,0;
  --ion-color-sla-shade: #cfcfcf;
  --ion-color-sla-tint: #ededed;

  --ion-color-vremin: #ff5757;
  --ion-color-vremin-rgb: 255,87,87;
  --ion-color-vremin-contrast: #000000;
  --ion-color-vremin-contrast-rgb: 0,0,0;
  --ion-color-vremin-shade: #e04d4d;
  --ion-color-vremin-tint: #ff6868;
}

.ion-color-verde {
  --ion-color-base: var(--ion-color-verde);
  --ion-color-base-rgb: var(--ion-color-verde-rgb);
  --ion-color-contrast: var(--ion-color-verde-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb);
  --ion-color-shade: var(--ion-color-verde-shade);
  --ion-color-tint: var(--ion-color-verde-tint);
}

.ion-color-vermelho {
  --ion-color-base: var(--ion-color-vermelho);
  --ion-color-base-rgb: var(--ion-color-vermelho-rgb);
  --ion-color-contrast: var(--ion-color-vermelho-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vermelho-contrast-rgb);
  --ion-color-shade: var(--ion-color-vermelho-shade);
  --ion-color-tint: var(--ion-color-vermelho-tint);
}

.ion-color-marelo {
  --ion-color-base: var(--ion-color-marelo);
  --ion-color-base-rgb: var(--ion-color-marelo-rgb);
  --ion-color-contrast: var(--ion-color-marelo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-marelo-contrast-rgb);
  --ion-color-shade: var(--ion-color-marelo-shade);
  --ion-color-tint: var(--ion-color-marelo-tint);
}

.ion-color-verdinho {
  --ion-color-base: var(--ion-color-verdinho);
  --ion-color-base-rgb: var(--ion-color-verdinho-rgb);
  --ion-color-contrast: var(--ion-color-verdinho-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verdinho-contrast-rgb);
  --ion-color-shade: var(--ion-color-verdinho-shade);
  --ion-color-tint: var(--ion-color-verdinho-tint);
}

.ion-color-azul {
  --ion-color-base: var(--ion-color-azul);
  --ion-color-base-rgb: var(--ion-color-azul-rgb);
  --ion-color-contrast: var(--ion-color-azul-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb);
  --ion-color-shade: var(--ion-color-azul-shade);
  --ion-color-tint: var(--ion-color-azul-tint);
}

.ion-color-marelin {
  --ion-color-base: var(--ion-color-marelin);
  --ion-color-base-rgb: var(--ion-color-marelin-rgb);
  --ion-color-contrast: var(--ion-color-marelin-contrast);
  --ion-color-contrast-rgb: var(--ion-color-marelin-contrast-rgb);
  --ion-color-shade: var(--ion-color-marelin-shade);
  --ion-color-tint: var(--ion-color-marelin-tint);
}

.ion-color-zulzin {
  --ion-color-base: var(--ion-color-zulzin);
  --ion-color-base-rgb: var(--ion-color-zulzin-rgb);
  --ion-color-contrast: var(--ion-color-zulzin-contrast);
  --ion-color-contrast-rgb: var(--ion-color-zulzin-contrast-rgb);
  --ion-color-shade: var(--ion-color-zulzin-shade);
  --ion-color-tint: var(--ion-color-zulzin-tint);
}

.ion-color-sla {
  --ion-color-base: var(--ion-color-sla);
  --ion-color-base-rgb: var(--ion-color-sla-rgb);
  --ion-color-contrast: var(--ion-color-sla-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sla-contrast-rgb);
  --ion-color-shade: var(--ion-color-sla-shade);
  --ion-color-tint: var(--ion-color-sla-tint);
}

.ion-color-vremin {
  --ion-color-base: var(--ion-color-vremin);
  --ion-color-base-rgb: var(--ion-color-vremin-rgb);
  --ion-color-contrast: var(--ion-color-vremin-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vremin-contrast-rgb);
  --ion-color-shade: var(--ion-color-vremin-shade);
  --ion-color-tint: var(--ion-color-vremin-tint);
}
